<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>New Question - JSAS</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/FontAwesome.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <%- include('../../partials/header'); %>
  <div class="container">
    <h1 class="mb-4">New Question</h1>

    <form action="/forum/<%=subForumSlug%>" method="POST">
      <%- include('question_form_fields') %>
    </form>
  </div>
  <%- include('../../partials/footer'); %>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/chart.min.js"></script>
  <script src="/assets/js/bs-init.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/smoothscroll.js"></script>
  <script src="/assets/js/theme.js"></script>
</body>
</html>