<div class="form-group">
  <label for="title">Title</label>
  <input required value="" type="text" name="topic" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="question_body" id="description" class="form-control"></textarea>
</div>

<a href="/forum/<%=subForumSlug%>" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>