<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
	<title>JSAS</title>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>

	<!-- ====================================================
	header section -->
	<%- include('partials/header'); %>
		<section class="slider" id="home">

			<div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#carouselHacked" data-slide-to="0" class="active"></li>
					<li data-target="#carouselHacked" data-slide-to="1"></li>
					<li data-target="#carouselHacked" data-slide-to="2"></li>
					<li data-target="#carouselHacked" data-slide-to="3"></li>
				</ul>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="img/slide-one.jpg" alt="doctor 1" width="1100" height="500">
						<div class="carousel-caption">
							<h1>providing</h1>
							<p>highquality service for men & women</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="img/slide-two.jpg" alt="doctor 2" width="1100" height="500">
						<div class="carousel-caption">
							<h1>providing</h1>
							<p>highquality service for men & women</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="img/slide-three.jpg" alt="doctor 3" width="1100" height="500">
						<div class="carousel-caption">
							<h1>providing</h1>
							<p>highquality service for men & women</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="img/slide-four.jpg" alt="doctor 3" width="1100" height="500">
						<div class="carousel-caption">
							<h1>providing</h1>
							<p>highquality service for men & women</p>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselHacked" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#carouselHacked" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>


		</section><!-- end of slider section -->
		<!-- about section -->
		<section class="about text-center" id="about">
			<div class="container">
				<div class="row">
					<h2>about us</h2>
					<h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
						printer took a galley of type and scrambled</h4>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail clearfix">
							<div class="about-img">
								<img class="img-responsive" src="img/item1.jpg" alt="">
							</div>
							<div class="about-details">
								<div class="pentagon-text">
									<h1>C</h1>
								</div>
								<h3>Children’s specialist</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum
									has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail">
							<div class="about-img">
								<img class="img-responsive" src="img/item2.jpg" alt="">
							</div>
							<div class="about-details">
								<div class="pentagon-text">
									<h1>W</h1>
								</div>

								<h3>Children’s specialist</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum
									has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-about-detail">
							<div class="about-img">
								<img class="img-responsive" src="img/item3.jpg" alt="">
							</div>
							<div class="about-details">
								<div class="pentagon-text">
									<h1>M</h1>
								</div>
								<h3>Children’s specialist</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum
									has been the industry's standard dummy text ever since the 1500s, when an unknown
									printer.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end of about section -->
	
		<!-- footer starts here -->
		<%- include('partials/footer'); %>

			<!-- script tags
	============================================================= -->


</body>

</html>