<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/index.css" rel="stylesheet">
  <script src="/scripts/scripts.js"></script>
</head>

<body>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="login.html">Login</a>
    <a href="#">Services</a>
    <a href="#">About</a>
    <a href="#">Contact Us</a>
  </div>

  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
  </div>

</body>

</html>