<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
	<title>JSAS</title>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/our_team.css">
	<link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <%- include('partials/header'); %>
    <div class="container">
        <div class="section-title">
            <h1>Team JSAS</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="team-6">
                    <div class="team-img">
                        <img src="/assets/img/avatars/judy.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Judy Mandelboim</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/judy-mandelboim/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team-6">
                    <div class="team-img">
                        <img src="/assets/img/avatars/sharon.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Sharon Yaroshetsky</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/sharon-yaroshetsky-9036b9203/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team-6">
                    <div class="team-img">
                        <img src="/assets/img/avatars/anthony.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Anthony Eitan Fleysher</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/anthony-fleysher/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="team-6">
                    <div class="team-img">
                        <img src="/assets/img/avatars/sitara.jpg" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2>Sitara Alayev</h2>
                        <h3>Developer</h3>
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/sitara-alayev-424b78193/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team #6 End -->
    <%- include('partials/footer'); %>

</body>

</html>