<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="bg-gradient-primary" style="background: #fff">
    <%- include('partials/header'); %>
        <div class="text-monospace container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-12 col-xl-10">
                    <div class="card shadow-lg o-hidden border-0 my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-flex">
                                    <div class="flex-grow-1 bg-password-image"
                                        style="background-image: url(&quot;../assets/img/dogs/iu.png&quot;);"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <form class="user" method="POST">
                                            <div class="form-group"><input class="form-control form-control-user"
                                                    type="password" id="newPassword" aria-describedby="password"
                                                    placeholder="Enter New Password" name="newPassword"></div>
                                            <div class="form-group"><input class="form-control form-control-user"
                                                    type="password" id="confirmPassword" aria-describedby="password"
                                                    placeholder="Enter New Password" name="confirmPassword"></div>
                                            <input type="checkbox" onclick="myFunction()"> Show Password
                                            <button class="btn btn-primary btn-block text-white btn-user"
                                                type="submit">Reset Password</button>
                                        </form>
                                        <div class="text-center"><a class="small" href="login">Remember Password?
                                                Login!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); %>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/js/chart.min.js"></script>
            <script src="/assets/js/bs-init.js"></script>
            <script src="/assets/js/custom.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/smoothscroll.js"></script>
            <script src="/assets/js/theme.js"></script>
            <script>function myFunction() {
                    var x = document.getElementById("newPassword");
                    var y = document.getElementById("confirmPassword");
                    if (x.type === "password" || y.type === "password") {
                        x.type = "text";
                        y.type = "text";
                    } else {
                        x.type = "password";
                        y.type = "password";
                    }
                }</script>
</body>

</html>