<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>Sending E-mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/email.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
<!-- /.modal compose message -->
    <div class="modal show" id="modalCompose">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modal-header-info">
            <button type="button" id="close1" class="close" data-dismiss="modal" onclick="closeWin()" aria-hidden="true">x</button>
            <h3 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;Send E-mail to Doctor</h3>
          </div>
          <div class="modal-body">
            <form role="form" class="form-horizontal" method="post" action="mailto:email.com?subject=subject&message=message">
                <div class="form-group">
                  <label class="col-sm-2" for="inputTo"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;To</label>
                  <div class="col-sm-10"><input type="email" class="form-control" id="inputTo" placeholder="Doctoremail@gmail.com"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2" for="inputFrom"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;From</label>
                  <div class="col-sm-10"><input type="email" class="form-control" id="inputFrom" placeholder="youremail@gmail.com"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2" for="inputSubject"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Subject</label>
                  <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12" for="inputBody"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Message</label>
                  <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-default pull-left btn-danger" data-dismiss="modal">Cancel</button> 
            <button type="button" id="send" class="btn btn-primary">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal compose message -->


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../../js/sending_messages.js"></script>

</body>
</html>