<link rel="stylesheet" href="../assets/css/Footer-Basic-1.css">
<link rel="stylesheet" href="../assets/css/Footer-Basic.css">
<footer class="footer-basic">
    <p class="copyright" style="border-bottom-style: none;">© All rights reserved to JSAS 2021</p>
</footer>