<link rel="stylesheet" href="../assets/css/Navigation-with-Button.css">

<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #ffffff;">
    <div class="container-fluid">

        <a href="/">
            <img src="../../img/JSAS.png" alt="//src/img/logo.png" width="160" height="80">
          </a>

            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mr-auto">
<<<<<<< HEAD
                <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle nav-link" href="#">Dropdown </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">First Item</a>
                        <a class="dropdown-item" href="#">Second Item</a>
                        <a class="dropdown-item" href="#">Third Item</a>
                        <a class="dropdown-item" href="/doctorProfile">Third Item</a>
                    </div>
                </li>
            </ul><span class="navbar-text actions"><a class="login" href="#">Log In</a><a
                    class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
=======
                <li class="nav-item">
 
            </ul>
            
            <span class="navbar-text actions">
                <a class="login" style="color:#2f98b8;"  href="/">HOME</a></li>


                <a class="login" href="/#about">about us</a>
                <a class="login" href="/login">Log In</a>
                <a class="btn btn-light action-button" role="button" href="/register">Sign Up</a>
                
            </span>

                    
>>>>>>> 1b56619def5d6316033c70feb3e5f85bd4740668
        </div>
    </div>
</nav>